*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Arial', sans-serif;
}

body{
    min-height:100vh;
    background:linear-gradient(135deg,#090979,#020024,#00d4ff);
    color:white;
    display:flex;
    flex-direction:column;
    align-items:center;
}


header{
    text-align:center;
    padding:30px;
}

.logo{
    font-size:40px;
    color:#00ffcc;
    text-shadow:0 0 15px #00ffcc;
}


header p{
    color:#ddd;
    margin-top:10px;
}



.player{

    width:90%;
    max-width:420px;
    background:rgba(255,255,255,0.12);
    backdrop-filter:blur(15px);
    border-radius:25px;
    padding:25px;
    text-align:center;
    box-shadow:0 0 30px rgba(0,0,0,0.5);

}



.top input{

    width:100%;
    padding:12px;
    margin:15px 0;
    border:none;
    border-radius:25px;
    outline:none;

}



.cover img{

    width:220px;
    height:220px;
    border-radius:50%;
    object-fit:cover;
    border:5px solid #00ffcc;
    box-shadow:0 0 25px #00ffcc;

}



#title{

    margin-top:20px;
    font-size:24px;

}


#artist{

    color:#ccc;
    margin:10px;

}



#progress{

    width:100%;
    margin:20px 0;

}



.controls{

    display:flex;
    justify-content:center;
    gap:15px;

}



button{

    width:45px;
    height:45px;
    border-radius:50%;
    border:none;
    background:#00ffcc;
    color:#111;
    cursor:pointer;
    font-size:18px;

}



button:hover{

    transform:scale(1.1);
    background:white;

}



.bottom{

    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:25px;

}



.volume{

    display:flex;
    align-items:center;
    gap:10px;

}



#volume{

    width:100px;

}



.playlist-title{

    margin-top:25px;

}



#playlist{

    list-style:none;
    margin-top:10px;

}



#playlist li{

    background:rgba(255,255,255,0.1);
    padding:12px;
    margin:8px;
    border-radius:15px;

}



footer{

    margin:20px;
    color:#ccc;

}
                             
